html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-gradient-custom {
    background: linear-gradient(135deg, #303f9f 0%, #1de9b6 100%);
    border-bottom: 0;
    box-shadow: 0 4px 12px rgba(48, 63, 159, 0.3);
}



